/* .container {
  padding: 0 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 2;
}

.logo {
  font-weight: bold;
  cursor: pointer;
  font-style: italic;
}

.profileMainLoader {
  margin: 15px 0;
  z-index: 9000 !important;
}

.profileMainLoader .loader {
  position: relative;
  margin: 0px auto;
  width: 200px;
  height: 200px;
}
.profileMainLoader .loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circularLoader {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loaderPath {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #0d6efd;
  }
  40% {
    stroke: #0d6efd;
  }
  66% {
    stroke: #0d6efd;
  }
  80%,
  90% {
    stroke: #0d6efd;
  }
}
@keyframes color {
  0% {
    stroke: #0d6efd;
  }
  40% {
    stroke: #0d6efd;
  }
  66% {
    stroke: #0d6efd;
  }
  80%,
  90% {
    stroke: #0d6efd;
  }
} */
